* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #81259D;
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", sans-serif;
}

.navbar-name-user{
    color: #81259D;
}

.button-action-navbar{
    text-decoration: none;
    color: #81259D;
    font-weight: 700;
}

.button-action-navbar:hover{
    text-decoration: none;
}