* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #81259D;
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", sans-serif;
}

.navbar-name-user{
    color: #81259D;
}

.button-action-navbar{
    text-decoration: none;
    color: #81259D;
    font-weight: 700;
}

.button-action-navbar:hover{
    text-decoration: none;
}

.toast-background div{
    color: #FFF;
    background: #8D3DC8;
    font-weight: 700;
    text-align: center;
    background: -webkit-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: -o-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: -moz-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: linear-gradient(45deg, #D5007D, #8D3DC8);
}