* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", sans-serif;
        
    background: #8D3DC8;
    background: -webkit-linear-gradient(80deg, #D5007D, #8D3DC8);
    background: -o-linear-gradient(80deg, #D5007D, #8D3DC8);
    background: -moz-linear-gradient(80deg, #D5007D, #8D3DC8);
    background: linear-gradient(80deg, #D5007D, #8D3DC8);
}

.container{
    width: 95vw;
    height: 95vh;
    padding: 50px;
    background: #FFF;
    box-sizing: border-box;
    border-radius: 5px;
}


.container .content .button{
    width: 120px !important;
    padding: 5px 12px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-weight: 700;
    font-size: .8rem;
    line-height: 2rem;
    color: #8D3DC8;
    border: solid 1px #8D3DC8;
    border-radius: 5px;
    cursor: pointer;
    background: #FFF;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.container .content .button:hover{
    color: #FFF;
    background: #8D3DC8;
    background: -webkit-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: -o-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: -moz-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: linear-gradient(45deg, #D5007D, #8D3DC8);
}