.logo-signin{
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    max-height: 5rem;
    max-width: 5rem;
    transition: all 1s;
}

.container-signin{
    margin-top: 50px !important;
    margin: 0 auto;
    width: 450px;
    height: 32rem;
    padding-top: 50px;
    background: #FFF;
    box-sizing: border-box;
    border-radius: 5px;
}

.container-signin header{
    width: 100%;
    text-align: center;
}

.container-signin header p{
    font-weight: 700;
    font-size: 16pt;
    line-height: 1.846;
}

.container-signin header p{
    font-weight: 700;
    font-size: 16pt;
    line-height: 1.846;
}

.container-signin .content-signin{
    width: 100%;
    margin-top: 2.5rem;
    padding: 0px 50px;
    box-sizing: border-box;
}

.container-signin .content-signin .button-signin{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100% !important;
    margin-top: 2.5rem;
    padding: 16px 32px 17px;
    color: #8D3DC8;
    font-weight: 700;
    font-size: .8rem;
    line-height: 2rem;
    border: solid 1px #8D3DC8;
    border-radius: 5px;
    cursor: pointer;
    background: #FFF;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.container-signin .content-signin .button-signin:hover{
    color: #FFF;
    background: #8D3DC8;
    background: -webkit-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: -o-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: -moz-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: linear-gradient(45deg, #D5007D, #8D3DC8);
}

.nuWrapInput-signin {
    width: 100%;
    position: relative;
    border-bottom: 2px dotted #EF5648;
    margin-bottom: 37px;
}

.input-signin {
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.2;
    width: 100%;
    color: #404040;
    border: 0;
    box-sizing: border-box;
    font-size: 14pt;
}

input.input-signin {
    height: 45px;
}

.focusInput-signin {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focusInput-signin::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -2px;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #8D3DC8;
    background: -webkit-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: -o-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: -moz-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: linear-gradient(45deg, #D5007D, #8D3DC8);
}

.focusInput-signin::after {
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 13px;
    color: #EF5648;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

input.input-signin+.focusInput-signin::after {
    top: 16px;
    left: 0;
}

.input-signin:focus+.focusInput-signin::after {
    top: -13px;
}

.focusInputDisabled-signin {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: -13px;
    left: 0;
    color:  #EF5648;
    font-size: 13px;
    pointer-events: none;
}

.input-signin:focus+.focusInput-signin::before {
    width: 100%;
}
