* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", sans-serif;
    background: #81259D;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo{
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    max-height: 5rem;
    max-width: 5rem;
    transition: all 1s;
}

.container{
    margin: 0 auto;
    width: 450px;
    height: 32rem;
    padding-top: 50px;
    background: #FFF;
    box-sizing: border-box;
    border-radius: 5px;
}

.container header{
    width: 100%;
    text-align: center;
}

.container header p{
    font-weight: 700;
    font-size: 16pt;
    line-height: 1.846;
}

.container header p{
    font-weight: 700;
    font-size: 16pt;
    line-height: 1.846;
}

.container .content{
    width: 100%;
    margin-top: 2.5rem;
    padding: 0px 50px;
    box-sizing: border-box;
}

.container .content button{
    width: 100%;
    margin-top: 2.5rem;
    padding: 16px 32px 17px;
    color: #8D3DC8;
    font-weight: 700;
    font-size: .8rem;
    line-height: 2rem;
    border: solid 1px #8D3DC8;
    border-radius: 5px;
    cursor: pointer;
    background: #FFF;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.container .content button:hover{
    color: #FFF;
    background-color: #8D3DC8; 
    background: #8D3DC8;
    background: -webkit-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: -o-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: -moz-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: linear-gradient(45deg, #D5007D, #8D3DC8);
}

.nuWrapInput {
    width: 100%;
    position: relative;
    border-bottom: 2px dotted #EF5648;
    margin-bottom: 37px;
}

.input {
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.2;
    width: 100%;
    color: #404040;
    border: 0;
    box-sizing: border-box;
    font-size: 14pt;
}

input.input {
    height: 45px;
}

.focusInput {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focusInput::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -2px;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #8D3DC8;
    background: -webkit-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: -o-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: -moz-linear-gradient(45deg, #D5007D, #8D3DC8);
    background: linear-gradient(45deg, #D5007D, #8D3DC8);
}

.focusInput::after {
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 13px;
    color: #EF5648;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

input.input+.focusInput::after {
    top: 16px;
    left: 0;
}

.input:focus+.focusInput::after {
    top: -13px;
}

.focusInputDisabled {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: -13px;
    left: 0;
    color:  #EF5648;
    font-size: 13px;
    pointer-events: none;
}

.input:focus+.focusInput::before {
    width: 100%;
}
